body {
    font-family: sans-serif;
    background-color: rgb(248, 248, 248);
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    user-select: none;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    p {
        line-height: 1.8;
        margin-top: 25px;
    }
    & .yes-no-modal {
        text-align: center;
        & button {
            cursor: pointer;
            $color: rgb(175, 48, 51);
            position: relative;
            padding: 8px 16px;
            border-radius: 15px;
            border: 3px solid $color;
            color: $color;
            background-color: white;
            & + button {
                margin-left: 25px;
            }
        }
    }
}

.button {
    cursor: pointer;
    $color: rgb(175, 48, 51);
    position: relative;
    padding: 8px 16px;
    border-radius: 15px;
    border: 3px solid $color;
    color: $color;
    background-color: white;
    & + button {
        margin-left: 25px;
    }
}

.va-middle {
    vertical-align: middle;
}

.thumb-rotate {
    transform: rotate(90deg) scaleX(-1);
}
