.main {
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    justify-self: center;
}

.itemMain {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 60px;
    $height: 85px;

    grid-template-rows: 1fr;
    line-height: $height;
    text-align: center;
}
$threshold: 1200px;
.item {
    cursor: pointer;
    user-select: none;
    $color: rgb(175, 48, 51);
    position: relative;
    padding: 8px 16px;
    border-radius: 15px;
    border: 3px solid $color;
    background-color: $color;
    color: white;

    @media screen and (max-width: $threshold) {
        font-size: 10px;
    }

    & + .item {
        margin-left: 10px;
        @media screen and (max-width: $threshold) {
            margin-left: 5px;
        }
    }
}
