/*.main {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    height: 70vh;
    text-align: center;
}

.object {
    grid-column: 1 / 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 70vw;
    justify-self: center;
}

.itemMain {
    grid-column: 3;

    width: 30vw;

    line-height: 30px;
    text-align: center;

    align-items: center;
    justify-items: center;
}
$threshold: 1200px;
.item {
    cursor: pointer;
    user-select: none;
    $color: rgb(175, 48, 51);
    position: static;
    padding: 8px 16px;
    border-radius: 15px;
    border: 3px solid $color;
    background-color: $color;
    color: white;
    margin-top: 15px;

    @media screen and (max-width: $threshold) {
        font-size: 10px;
    }

    & + .item {
        @media screen and (max-width: $threshold) {
            margin-left: 5px;
        }
    }
}
*/

.main {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.controls {
    display: grid;
    gap: 5px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
}
