.bar {
    $height: 18px;
    position: relative;
    display: inline-block;
    width: 80vw;
    max-width: 400px;
    line-height: $height;
    height: $height;
    border: 2px solid rgb(175, 48, 51);
    border-radius: 8px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 5px;
    & > div {
        display: inline-block;
        overflow: hidden;
        height: $height;
        background-color: rgb(175, 48, 51);
        color: white;
        border-radius: 4px;
        text-align: center;
    }
}
