.main {
    display: grid;
    grid: 'form' 'q-list';
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    form {
        margin-top: 1rem;
        margin-inline: 1rem;
        display: grid;
        grid-area: form;
        > input {
            margin-inline: 10%;
            margin-block: 2rem;
            display: grid;
            border: 1px solid grey;
            border-radius: 10px;
            max-width: 80%;
        }
        > button {
            position: relative;
            height: 30px;
            width: 120px;
            justify-self: center;
            margin-bottom: 2rem;
            border: 1px solid rgb(175, 48, 51);
            border-radius: 3px;
            background-color: rgb(175, 48, 51);
            color: white;
        }
    }

    div {
        display: grid;
        grid-area: q-list;
        grid: 'qlist' 'next';
        grid-template-columns: 100% 50%;
        grid-template-rows: 85% 15%;
        ul {
            grid-area: qlist;
            display: flex;
            flex-direction: column;
            list-style: none;
            overflow-y: scroll;
            border: 1px solid grey;
            border-radius: 5px;
            margin-inline: 10%;
            padding-inline-start: 0;
            li {
                display: flex;
                margin: 1rem;
                height: fit-content;
                border: 1px solid rgb(175, 48, 51);
                border-radius: 5px;
                padding: 1rem;
            }
        }
        button {
            grid-area: next;
            justify-self: center;
            width: 120px;
            height: 30px;
            margin-inline: 1rem;
            border: 1px solid rgb(175, 48, 51);
            border-radius: 3px;
            background-color: rgb(175, 48, 51);
            color: white;
        }
    }
}

.mainOngoing {
    display: grid;
    grid: 'question' 'poll-menu';
    grid-template-rows: 70% 30%;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    > .question {
        grid-area: question;
        > p {
            height: fit-content;
            margin-inline: 2rem;
            margin-block: 1rem;
            border: 5px solid rgb(175, 48, 51);
            border-radius: 5px;
            padding: 1rem;
            font-size: large;
        }
    }
    > .end {
        display: grid;
        grid-area: question;
        font-size: large;
        justify-content: center;
        align-content: center;
        color: rgb(175, 48, 51);
    }
    > .menu {
        display: grid;
        grid-area: poll-menu;

        > div {
            display: grid;
            grid: 'answers' 'buttons';
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;
            > div {
                display: grid;
                grid-area: answers;
                > table {
                    width: 70%;
                    > tr {
                        > th {
                            font-size: large;
                        }
                    }
                }
            }
            div + div {
                display: flex;
                grid-area: buttons;
                align-items: center;
                > div {
                    > button {
                        justify-content: center;
                        width: 120px;
                        height: 30px;
                        margin: 1rem;
                        border: 1px solid rgb(175, 48, 51);
                        border-radius: 3px;
                        background-color: rgb(175, 48, 51);
                        color: white;
                    }
                    > button + button {
                        justify-content: center;
                        width: 120px;
                        height: 30px;
                        margin: 1rem;
                        border: 1px solid rgb(175, 48, 51);
                        border-radius: 3px;
                        background-color: rgb(175, 48, 51);
                        color: white;
                    }
                }
                button {
                    justify-content: center;
                    width: 120px;
                    height: 30px;
                    margin: 1rem;
                    border: 1px solid rgb(175, 48, 51);
                    border-radius: 3px;
                    background-color: rgb(175, 48, 51);
                    color: white;
                }
            }
        }
    }
}

.mainAwaiting {
    display: grid;
    grid: 'waiting-text' 'q-list';
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;

    > p {
        grid-area: waiting-text;
        display: grid;
        justify-self: center;
        color: rgb(175, 48, 51);
    }
    div {
        display: grid;
        grid-area: q-list;
        grid: 'qlist' 'next';
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
        ul {
            grid-area: qlist;
            display: flex;
            flex-direction: column;
            list-style: none;
            overflow-y: scroll;
            border: 1px solid grey;
            border-radius: 5px;
            margin-inline: 10%;
            padding-inline-start: 0;
            li {
                display: flex;
                margin: 1rem;
                height: fit-content;
                border: 1px solid rgb(175, 48, 51);
                border-radius: 5px;
                padding: 1rem;
            }
        }
        button {
            grid-area: next;
            justify-self: center;
            width: 120px;
            height: 30px;
            margin-inline: 1rem;
            border: 1px solid rgb(175, 48, 51);
            border-radius: 3px;
            background-color: rgb(175, 48, 51);
            color: white;
        }
    }
}
