.main {
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    $height: 85px;
    grid-template-rows: 1fr $height;
    & .controls {
        line-height: $height;
        text-align: center;
    }
}
$threshold: 1200px;
.item {
    cursor: pointer;
    user-select: none;
    $color: rgb(175, 48, 51);
    position: relative;
    padding: 8px 16px;
    border-radius: 15px;
    border: 3px solid $color;
    color: $color;

    @media screen and (max-width: $threshold) {
        font-size: 10px;
    }

    & + .item {
        margin-left: 30px;
        @media screen and (max-width: $threshold) {
            margin-left: 5px;
        }
        @media screen and (min-width: $threshold) {
            &::before {
                content: '';
                position: absolute;
                left: -18px;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                width: 30px;
                height: 0;
                border-top: 3px solid $color;
            }
        }
    }
    &.active {
        background-color: $color;
        color: white;
    }
}
