.main {
    text-align: center;
}

.source {
    $width: 150px;
    display: inline-grid;
    height: 200px;
    width: $width;
    vertical-align: middle;
    grid-template-rows: $width 1fr;
    align-items: center;
    justify-items: center;
    margin: 25px;
    border: 1px solid rgb(240, 240, 240);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    font-weight: 700;
    color: gray;
    line-height: 1.5;
    word-break: break-all;
}

.other {
    transform: translateY(25px);
}

.selected {
    position: relative;
    $color: rgba(175, 48, 51, 0.8);
    $space: -25px;
    &:after {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        border-bottom: 15px solid $color;
        border-right: 15px solid transparent;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        bottom: $space;
        left: 50%;
        transform: translateX(-50%);
    }

    &:before {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        border-top: 15px solid $color;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
        top: $space;
        left: 50%;
        transform: translateX(-50%);
    }
}
